In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1. python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver.get("http://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
df=pd.DataFrame({'Job_Title':job_title,'Job_location':job_location,'Company_Name':company_name,'Experience_Required':experience_required})
df

,Job_Title,Job_location,Company_Name,Experience_Required
0,Sr. Business Data Analyst,Bangalore/Bengaluru,Infometry,4-6 Yrs
1,Business & Data Analyst- Assistant Manager,"Hyderabad/Secunderabad, Bangalore/Bengaluru",State Street,1-3 Yrs
2,Manager / Senior Manager - Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Huquo Consulting Pvt. Ltd,2-7 Yrs
3,Senior Data Analyst(Power BI/Python),Bangalore/Bengaluru,Societe Generale,3-7 Yrs
4,Sr. Data Analyst,"Bhopal, Indore, New Delhi, Pune, Bangalore Rur...",Netlink Software,3-6 Yrs
5,Business Analyst - Data Strategy,Bangalore/Bengaluru,Capco,9-11 Yrs
6,DATA Analyst- Immediate Joining,Bangalore/Bengaluru(Cox Town),ADVISETREE CONSULTING PRIVATE LIMITED,3-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
9,Sr. Data Analyst,"Pune, Bangalore/Bengaluru",Global Indian School Education Services,6-11 Yrs

Q2.a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [13]:
driver.get("http://www.naukri.com/")

In [14]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [15]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [16]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [17]:
job_title=[]
job_location=[]
company_name=[]

In [18]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [19]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [20]:
df=pd.DataFrame({'Job_Title':job_title,'Job_location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_location,Company_Name
0,data science analyst,Bangalore/Bengaluru,CRED
1,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix
2,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS)
3,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro
4,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
5,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
6,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro
7,Data Scientist Lead_Tata Consultancy Services(...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",TATA CONSULTANCY SERVICES (TCS)
8,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech
9,Data Scientist Python,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Conduent

Q3.e location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [35]:
driver.get("http://www.naukri.com/")

In [36]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [37]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [38]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [39]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [40]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [41]:
df=pd.DataFrame({'Job_Title':job_title,'Job_location':job_location,'Company_Name':company_name,'Experience_Required':experience_required})
df

,Job_Title,Job_location,Company_Name,Experience_Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs

Q4.Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Produc

In [42]:
driver.get("http://www.flipkart.com/")

In [43]:
brand=driver.find_element(By.CLASS_NAME,"_3704LK ")
brand.send_keys('Sunglasses')

In [44]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [45]:
brand=[]
product_description=[]
price_amt=[]
discount_percentage=[]

In [46]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    title=i.text
    brand.append(title)
    
    
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags:
    product=i.text
    product_description.append(product)
    
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    price_amt.append(price)
    
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
for i in discount_tags:
    discount=i.text
    discount_percentage.append(discount)

In [47]:
print(len(brand),len(product_description),len(price_amt),len(discount_percentage))

40 40 40 40

In [48]:
df=pd.DataFrame({'Brand':brand,'Product_Description':product_description,'Price':price,'Discount_percentage':discount_percentage})
df

,Brand,Product_Description,Price,Discount_percentage
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹749,20% off
1,SRPM,UV Protection Wayfarer Sunglasses (50),₹749,83% off
2,Elligator,UV Protection Round Sunglasses (54),₹749,88% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹749,78% off
4,PIRASO,UV Protection Rectangular Sunglasses (52),₹749,89% off
5,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹749,86% off
6,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹749,20% off
7,PIRASO,UV Protection Aviator Sunglasses (54),₹749,82% off
8,PIRASO,UV Protection Aviator Sunglasses (58),₹749,86% off
9,Fastrack,UV Protection Aviator Sunglasses (58),₹749,10% off
10,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹749,74% off
11,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹749,82% off
12,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹749,78% off
13,New Specs,UV Protection Oval Sunglasses (Free Size),₹749,79% off
14,NuVew,UV Protection Aviator Sunglasses (57),₹749,73% off
15,PIRASO,UV Protection Wayfarer Sunglasses (32),₹749,82% off
16,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹749,10% off
17,Dannilo,Others Spectacle Sunglasses (Free Size),₹749,78% off
18,IZAAN MART,UV Protection Rectangular Sunglasses (55),₹749,85% off
19,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹749,88% off
20,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹749,20% off
21,PIRASO,UV Protection Aviator Sunglasses (54),₹749,82% off
22,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹749,82% off
23,Fastrack,UV Protection Aviator Sunglasses (58),₹749,20% off
24,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹749,78% off
25,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹749,80% off
26,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹749,78% off
27,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹749,20% off
28,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹749,76% off
29,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹749,75% off
30,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹749,81% off
31,ROYAL SON,Mirrored Aviator Sunglasses (55),₹749,74% off
32,Mi,Polarized Aviator Sunglasses (Free Size),₹749,33% off
33,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹749,88% off
34,Elligator,UV Protection Round Sunglasses (53),₹749,79% off
35,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹749,15% off
36,EYELLUSION,"Riding Glasses, Riding Glasses, UV Protection ...",₹749,80% off
37,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹749,85% off
38,Fastrack,UV Protection Shield Sunglasses (Free Size),₹749,20% off
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:

In [49]:
url=driver.find_elements(By.XPATH,'//a[@class="_2UzuFa"]')
url[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="a52e8ac6-591d-4aed-90f5-d52224e48943")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="ce18e798-b1f5-41f6-8f71-a0fb3d7be199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="83128f6f-6fe9-4f74-b04d-a06e85406fa4")>]

In [50]:
for i in url[0:3]:
    print(i.get_attribute("href"))

https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm44f5aeeecaf5c?pid=SGLF79DQR8NQAT2W&lid=LSTSGLF79DQR8NQAT2WWQCQ7S&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=675456bb-dbaf-40cd-bb37-60d17c4740c4.SGLF79DQR8NQAT2W.SEARCH&ppt=hp&ppn=homepage&ssid=src3dahkio0000001661066181843&qH=0ff7a11a5902c9f7
https://www.flipkart.com/srpm-wayfarer-sunglasses/p/itmaf19ae5820c06?pid=SGLFHQPHY2GZ4HFP&lid=LSTSGLFHQPHY2GZ4HFP0AZWKY&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=675456bb-dbaf-40cd-bb37-60d17c4740c4.SGLFHQPHY2GZ4HFP.SEARCH&ppt=hp&ppn=homepage&ssid=src3dahkio0000001661066181843&qH=0ff7a11a5902c9f7
https://www.flipkart.com/elligator-round-sunglasses/p/itm3c981fc444358?pid=SGLFPHP5BVBJTCDB&lid=LSTSGLFPHP5BVBJTCDB7P4T6G&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=675456bb-dbaf-40cd-bb37-60d17c4740c4.SGLFPHP5BVBJTCDB.SEARCH&ppt=hp&ppn=homepage&ssid=src3dahkio0000001661066181843&qH=0ff7a11a5902c9f7

In [51]:
brand=[]
product_description=[]
price_amt=[]
discount_percentage=[]

In [52]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles:
        brand.append(i.text)
    
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        product_description.append(i.text)
        
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price_amt.append(i.text)
    
    
    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in discount_tags:
        discount_percentage.append(i.text)
    

    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(3)

In [53]:
Brand=brand[0:100]
Product_description=product_description[0:100]
Price_amt=price_amt[0:100]
Discount_percentage=discount_percentage[0:100]

In [54]:
print(len(Brand),len(Product_description),len(Price_amt),len(Discount_percentage))

100 100 100 100

In [55]:
df=pd.DataFrame({'bnd':Brand,'pdt':Product_description,'prc':Price_amt,'dscnt':Discount_percentage})
df

,bnd,pdt,prc,dscnt
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
1,SRPM,UV Protection Wayfarer Sunglasses (50),₹211,83% off
2,Elligator,UV Protection Round Sunglasses (54),₹298,88% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
4,PIRASO,UV Protection Rectangular Sunglasses (52),₹280,89% off
...,...,...,...,...
95,PIRASO,UV Protection Wayfarer Sunglasses (32),₹279,82% off
96,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899,10% off
97,Dannilo,Others Spectacle Sunglasses (Free Size),₹170,78% off
98,IZAAN MART,UV Protection Rectangular Sunglasses (55),₹290,85% off
99,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:

In [56]:
driver.get("http://www.flipkart.com/")

In [57]:
brand=driver.find_element(By.CLASS_NAME,"_3704LK ")
brand.send_keys('Iphone11')

In [58]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [59]:
url=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
url[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="cb049a56-df18-4aa0-86a2-1f2ccd551f35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="5b059536-2359-404c-861c-858a4695da86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="53577a36-e319-4c67-a533-fa75c2c4a2d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="dfaf1dc2-f7f8-4b8a-820a-3ec7a76e5d8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="187efbbc-646e-41c6-b79e-85735173b80d")>]

In [60]:
for i in url[0:5]:
    print(i.get_attribute("href"))

https://www.flipkart.com/apple-iphone-11-white-128-gb/p/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSUPVRTR&marketplace=FLIPKART&q=Iphone11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=6673dba3-caf2-4595-a019-b4de88414870.MOBFWQ6B7KKRXDDS.SEARCH&ppt=hp&ppn=homepage&ssid=qfgizstwlc0000001661066349522&qH=6d60e39954c2077c
https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART&q=Iphone11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=6673dba3-caf2-4595-a019-b4de88414870.MOBFWQ6BKRYBP5X8.SEARCH&ppt=hp&ppn=homepage&ssid=qfgizstwlc0000001661066349522&qH=6d60e39954c2077c
https://www.flipkart.com/apple-iphone-11-purple-128-gb/p/itmb7ca0b05522ff?pid=MOBFWQ6BEHFXGXGB&lid=LSTMOBFWQ6BEHFXGXGBIS2J2K&marketplace=FLIPKART&q=Iphone11&store=tyy%2F4io&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=6673dba3-caf2-4595-a019-b4de88414870.MOBFWQ6BEHFXGXGB.SEARCH&ppt=hp&ppn=homepage&ssid=qfgizstwlc0000001661066349522&qH=6d60e39954c2077c
https://www.flipkart.com/apple-iphone-11-white-64-gb/p/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART&q=Iphone11&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=6673dba3-caf2-4595-a019-b4de88414870.MOBFWQ6BVWVEH3XE.SEARCH&ppt=hp&ppn=homepage&ssid=qfgizstwlc0000001661066349522&qH=6d60e39954c2077c
https://www.flipkart.com/apple-iphone-11-green-64-gb/p/itm386a85013a3d1?pid=MOBFWQ6BHPMG29QM&lid=LSTMOBFWQ6BHPMG29QMKXJSSF&marketplace=FLIPKART&q=Iphone11&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=6673dba3-caf2-4595-a019-b4de88414870.MOBFWQ6BHPMG29QM.SEARCH&ppt=hp&ppn=homepage&ssid=qfgizstwlc0000001661066349522&qH=6d60e39954c2077c

In [61]:
ratng=[]
rvw_smry=[]
full_rvw=[]

In [62]:
start=0
end=5
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK"]')
    for i in titles:
        ratng.append(i.text)
        
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        rvw_smry.append(i.text)
        
    rvw=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rvw:
        full_rvw.append(i.text)
    

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)

In [63]:
print(len(ratng),len(rvw_smry),len(full_rvw))

120 0 0

In [70]:
df=pd.DataFrame({'Rating':ratng,'Review_summary':rvw_smry,'Full_review':full_rvw})
df

ValueError: All arrays must be of the same length

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick ma

In [73]:
driver.get("http://www.flipkart.com/")

In [74]:
brand=driver.find_element(By.CLASS_NAME,"_3704LK ")
brand.send_keys('Sneakers')

In [75]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [82]:
url=driver.find_elements(By.XPATH,'//a[@class="_2UzuFa"]')
url[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="c1dbbafd-e122-4f41-8a16-7afe0f554205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="03458246-66fb-410e-91a2-f58d30731db1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="363f78f1107bc99ebd90fd8af954c795", element="8fe1bf51-4981-434c-a0cd-5ee944776dc6")>]

In [83]:
for i in url[0:3]:
    print(i.get_attribute("href"))

https://www.flipkart.com/bruton-2-combo-sneaker-shoes-sneakers-men/p/itm3cc36bd6ace90?pid=SHOGFUYVZQSBCQB2&lid=LSTSHOGFUYVZQSBCQB20Z7RBR&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=en_9EWTNtnbq3RtValQGostj%2FcIdrxAL5Rh0xeFXf4JzcHcDfswbXeW03IOpw4cT8tSL1MdMOuV1Mo3BN4DIuvznQ%3D%3D&ppt=sp&ppn=sp&ssid=pna8uged400000001661079717553&qH=ea24260ef5764089
https://www.flipkart.com/bruton-modern-trendy-sneakers-shoes-men/p/itm76d039b1e0a19?pid=SHOGEXXSFA8GNN5W&lid=LSTSHOGEXXSFA8GNN5WAMR6AY&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=en_9EWTNtnbq3RtValQGostj%2FcIdrxAL5Rh0xeFXf4JzcFxLRBQGr2min7sQWCNtHhRlJ55JHiINzTFY3qpIVmzCA%3D%3D&ppt=sp&ppn=sp&ssid=pna8uged400000001661079717553&qH=ea24260ef5764089
https://www.flipkart.com/puma-rebound-joy-sneakers-men/p/itm616f0cfb0fc23?pid=SHOFZFG5FH9U3C88&lid=LSTSHOFZFG5FH9U3C888G7GKR&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_3&otracker=search&otracker1=search&fm=Search&iid=3241b788-f8c4-4380-9d1d-1bd4ddbcbf87.SHOFZFG5FH9U3C88.SEARCH&ppt=sp&ppn=sp&ssid=pna8uged400000001661079717553&qH=ea24260ef5764089

In [84]:
brand=[]
product_description=[]
price=[]
discount_percentage=[]

In [89]:
star=0
end=3
for page in range(start,end):
    brnd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brnd:
        brand.append(i.text)
        
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        product_description.append(i.text)
        
    element=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in element:
        price.append(i.text)
        
        
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in discount:
        discount_percentage.append(i.text)
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)

In [90]:
print(len(brand),len(product_description),len(price),len(discount_percentage))

120 120 120 120

In [91]:
Brand=brand[0:100]
Product_description=product_description[0:100]
Price=price[0:100]
Discount_percentage=discount_percentage[0:100]

In [93]:
len(Product_description)

100

In [95]:
print(len(rand),len(product_description),len(price),len(discount_percentage))

120 120 120 120

In [96]:
df=pd.DataFrame({'Brand':Brand,'Product_description':Product_description,'Price':Price,'Discount_percentage':Discount_percentage})
df

,Brand,Product_description,Price,Discount_percentage
0,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹596,76% off
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹399,69% off
2,PUMA,Rebound JOY Sneakers For Men,"₹2,217",59% off
3,Magnolia,Sneakers For Men,₹374,62% off
4,Labbin,Sneakers For Men,₹499,50% off
...,...,...,...,...
95,DUCATI,Sneakers For Men,"₹1,329",69% off
96,Magnolia,Sneakers For Men,₹399,60% off
97,Shozie,Stylish Walking Partywear Sneakers Casual Shoe...,₹489,51% off
98,PUMA,Smash Wns v2 Z Sneakers For Women,"₹1,542",55% off
99,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹596,76% off

Q7. Set second Price filter and Color filter to “Black”, as shown in the below image.

Q8.Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7”
Title
2. Ratings
3. Price

In [98]:
driver.get("http://www.amazon.in/")

In [108]:
element=driver.find_element(By.CLASS_NAME,"nav-fill")
element.send_keys('Laptop')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".nav-fill"}
  (Session info: chrome=104.0.5112.101)
Stacktrace:
Backtrace:
	Ordinal0 [0x00DB78B3+2193587]
	Ordinal0 [0x00D50681+1771137]
	Ordinal0 [0x00C641A8+803240]
	Ordinal0 [0x00C924A0+992416]
	Ordinal0 [0x00C9273B+993083]
	Ordinal0 [0x00CBF7C2+1177538]
	Ordinal0 [0x00CAD7F4+1103860]
	Ordinal0 [0x00CBDAE2+1170146]
	Ordinal0 [0x00CAD5C6+1103302]
	Ordinal0 [0x00C877E0+948192]
	Ordinal0 [0x00C886E6+952038]
	GetHandleVerifier [0x01060CB2+2738370]
	GetHandleVerifier [0x010521B8+2678216]
	GetHandleVerifier [0x00E417AA+512954]
	GetHandleVerifier [0x00E40856+509030]
	Ordinal0 [0x00D5743B+1799227]
	Ordinal0 [0x00D5BB68+1817448]
	Ordinal0 [0x00D5BC55+1817685]
	Ordinal0 [0x00D65230+1856048]
	BaseThreadInitThunk [0x76F0FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77747A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77747A6E+238]

Q9.a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com

In [167]:
driver.get(" https://www.ambitionbox.com")

In [169]:
designation=driver.find_element(By.CLASS_NAME,"tt-input")
designation.send_keys('Data Scientist')

In [170]:
search=driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [171]:
company_name=[]
No_of_days=[] 
Rating=[]

In [111]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tags[0:10]:
    title=i.text
    company_name.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in location_tags[0:10]:
    location=i.text
    No_of_days.append(location)
    
    
Rating_tags=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in Rating_tags[0:10]:
    company=i.text
    Rating.append(company)

In [112]:
print(len(company_name),len(No_of_days),len(Rating))

10 10 10

In [114]:
df=pd.DataFrame({'Company_name':company_name,'Days':No_of_days,'Ratings':Rating})
df

                                        Company_name             Days Ratings
0    Hiring Data Scientist #productbasecompany #CBRE          10d ago     4.3
1  Hiring For Genpact-Data Scientist- Forecasting...   via naukri.com     4.0
2  Genpact - Data Scientist - Forecasting/Python/...           3d ago     4.0
3                                     Data Scientist   via naukri.com     4.3
4                                     Data Scientist           5d ago     4.0
5                                     Data Scientist  via iimjobs.com     4.1
6                 Associate Manager - Data Scientist          20d ago     4.1
7                                     Data Scientist   via naukri.com     4.3
8                                     Data Scientist          13d ago     4.2
9                   Data Scientist - Noida/Bangalore   via naukri.com     3.9

e a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [161]:
driver.get("http://www.ambitionbox.com/")

In [162]:
designation=driver.find_element(By.CLASS_NAME,"tt-input")
designation.send_keys('Data Scientist')

In [163]:
company_name=[] 
total_salary_record=[]
average_salary=[]
minimum_salary=[] 
maximum_salary=[] 
experience_required=[]

In [164]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in title_tags[0:10]:
    title=(i.text.split()[0:2])
    company_name.append(title)
    
    
salary_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salary_tags[0:10]:
    total_s=i.text
    total_salary_record.append(total_s)
    
    
avg_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tags[0:10]:
    company=i.text
    average_salary.append(company)
    
min_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_tags[0:10]:
    mini=i.text
    minimum_salary.append(mini)
    
    
max_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_tags[0:10]:
    maxi=i.text
    maximum_salary.append(maxi)
    
    
exp_tags=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_tags[0:10]:
    exp=(i.text.split()[0:2])
    experience_required.append(exp)

In [165]:
print(len(company_name),len(total_salary_record),len(average_salary),len(minimum_salary),len( maximum_salary),len( experience_required))

10 10 10 10 10 10

In [166]:
df=pd.DataFrame({'Company name':company_name,'Total Salary':total_salary_record,'Avg Salary':average_salary,'Min':minimum_salary,'Max':maximum_salary,'Exp':experience_required})
df

,Company name,Total Salary,Avg Salary,Min,Max,Exp
0,"[Walmart, Data]",(based on 22 salaries),₹ 31.7L,₹ 25.0L,₹ 25.0L,"[3-4, yrs]"
1,"[Ab, Inbev]",(based on 53 salaries),₹ 19.7L,₹ 45.0L,₹ 45.0L,"[2-4, yrs]"
2,"[Optum, Data]",(based on 48 salaries),₹ 16.5L,₹ 15.0L,₹ 15.0L,"[2-4, yrs]"
3,"[ZS, Data]",(based on 33 salaries),₹ 15.7L,₹ 25.5L,₹ 25.5L,"[1-2, yrs]"
4,"[Fractal, Analytics]",(based on 109 salaries),₹ 15.2L,₹ 11.0L,₹ 11.0L,"[2-4, yrs]"
5,"[Tiger, Analytics]",(based on 65 salaries),₹ 14.7L,₹ 22.6L,₹ 22.6L,"[2-4, yrs]"
6,"[Legato, Health]",(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 11.0L,"[4, yrs]"
7,"[Tredence, Data]",(based on 12 salaries),₹ 14.1L,₹ 22.0L,₹ 22.0L,"[3, yrs]"
8,"[UnitedHealth, Data]",(based on 91 salaries),₹ 13.6L,₹ 9.0L,₹ 9.0L,"[2-4, yrs]"
9,"[Ford, Motor]",(based on 21 salaries),₹ 13.5L,₹ 23.0L,₹ 23.0L,"[3-4, yrs]"

In [ ]:


-